# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/

# Environment Variables
.env
.env.*
*.env

# Django
*.log
local_settings.py
db.sqlite3

# Static & Media (Dev)
staticfiles/
media/

# IDEs & Editors
.idea/
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Test / Coverage
.coverage
htmlcov/
pytest_cache/

# Migrations Cache (NOT migrations)
**/migrations/__pycache__/
